.content {
	min-height: 100%;
	overflow: hidden;
}
body {
	margin: 0px;
	padding: 0px;
}
header {
	width: 100%;
}
.nav {
	height: 83px;
	display: flex;
	justify-content: space-between;
	padding: 0px 100px 0px 100px;
}
.nav_right {
	padding-top: 20px;
}
.nav_left {
	padding-top: 20px;
}
.nav_right a {
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	color: #6E6D7A;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	transition: .3s ease-in;	
}
.nav_right a:first-child {
	padding-left: 0px;
}
.nav_right a:hover {
	color: #000;
/*	text-shadow: #000 1px 0 10px; */
}
.big_pictures {
	width: 100%;
}
.top {
	margin-top: 146px;
}
h1 {
	margin: 0px 0px 56px 0px;
	color: #383938;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	text-align: center;
}
.top img {
	display: block;
	margin: auto;
}
.opportunities {
	margin: 250px 100px 0px 100px;
	display: flex;
	justify-content: space-between;
}
.opportunities p{
	color: #6E6D7A;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	padding-top: 35px;
	margin: 0px;
	line-height: 37px;
}
.interesting{
	text-align: center;
}
.interesting img {
	width: 100%;
	margin: auto;
}
.interesting h2 {
	line-height: 53px;
	padding: 260px 0px 25px 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 33px;
	color: #383938;
}
.interesting p {
	color: #6E6D7A;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	text-align: center;
	padding: 0px 200px 75px 200px;
}
.privacy {
	margin: auto;
	display: flex;
	justify-content: center;

}
.privacy img {
	margin: 0px 10px;
	width: 50%;
}
.about {
	text-align: left;
	margin: 0px 100px 0px 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.a_item {
	margin-top: 100px;
	width: 350px;
}
.a_item p {
	text-align: left;
	color: #6E6D7A;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 23px;
	padding: 0px 0px 12px 0px;
}
.a_item h3 {
	padding: 30px 0px 0px 0px;
	margin: 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: #383938;
}
.a_item img {
	width: 70px;
}
.devices {
	text-align: center;
}
.dev img {
	width: 100%;
}
.view {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: #6E6D7A;
	background: #fff;
	text-align: center;
	width: 258px;
	height: 60px;
	margin-top: 90px;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	transition: .5s ease-in;
}
.view:hover {
	background: #04293A;
	color: white;
}
.line {
	width: 70%;
	height: 1px;
	background: #EDEEF3;
	margin: 130px auto 0px;
}
.appstore img {
	width: 10%;
	display: block;
	margin: auto;
}
footer {
	margin: 90px 100px 90px 100px;
	display: flex;
}
footer li {
	padding-bottom: 26px;
	list-style: none;
	color: #6E6D7A;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 13px;
}
footer ul {
	padding: 0px;
	margin: 0px;
}
footer a {
	color: #6E6D7A;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 13px;
	transition: .3s ease-in;
}
footer p {
	list-style: none;
	color: #6E6D7A;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 13px;
}
.menu_item {
	margin-left: 200px;
}
.menu_item:first-child {
	margin-left: 100px;
}
footer a:hover{
	color: black;
}
@media (max-width: 1000px){
	.a_item p {

	}
}
@media (min-width: 800px) {
	#menu__toggle {
		display: none;
	}
	.menu__box {
		display: flex;

	}
	.menu__box li {
		text-decoration: none;
		list-style: none;
		padding-left: 30px;
		padding-top: 5px;
	}
	.menu__box a {
		font-family: 'Roboto', sans-serif;
		color: #6E6D7A;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 500;
		transition: .3s ease-in;
	}
	.menu__box a:hover {
		color: #000;
	}
	.menu__box li:first-child {
		padding-left: 0px;
	}
}


@media(max-width: 1400px) {
	.privacy img {
		width: 40%;
	}
	footer {
		margin: 90px 0px 90px 0px;
	}
	.menu_item {
		margin: 0px;
		margin-left: 100px;
		padding: 0px;
	}
}

@media(max-width: 920px) {
	.top {
		margin-top: 20px;
	}
	h1 {
		font-size: 40px;
	}
	.appstore {
		width: 10%;
	}
	.a_item {
		padding: 20px;
		margin: 30px auto;	
		box-shadow: 0px 0px 10px grey;
		border-radius: 5px;
	}
	.a_item h3 {
		padding: 0px;
	}
	footer {
		display: block;
	}
	footer ul {
		display: flex;
	}
	footer li {
		padding-left: 20px;
		padding-bottom: 20px;
	}
	.menu_item:last-child {
		margin-left: 120px;
	}
	.opportunities {
		margin-top: 120px;
	}
	.interesting h2 {
		padding-top: 40px;
		font-size: 30px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	.interesting p {
		padding-top: 0px;
		margin: 0px;
		padding-bottom: 20px;
	}
}

.menu__btn {
	display: none;
}
@media(max-width: 1000px) {
	.interesting p {
		padding-left: 50px;
		padding-right: 50px;
	}
	.a_item p {
		padding: 0px;
	}
}
@media (max-width: 800px) {
	.nav {
		padding-left: 50px;
	}
	#menu__toggle {
  		opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
  		display: flex; /* используем flex для центрирования содержимого */
  		align-items: center;  /* центрируем содержимое кнопки */
  		position: absolute;
  		top: 17px;
  		right: 50px;
  		width: 26px;
  		height: 26px;
  		cursor: pointer;
  		z-index: 1;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}


	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 300px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  text-align: center;
	  background-color: #ECEFF1;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  font-weight: 400;
	  text-decoration: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}


	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
	.appstore {
		width: 80px;
		margin-top: 50px;
	}
	.opportunities {
		display: block;
		margin: 50px auto;

	}
	.item {
		padding: 10px;
		padding-left: 20px;
		width: 300px;
		margin: 10px auto;
		border-radius: 4px;
		box-shadow: 0px 0px 10px lightgray;
	}
	.item p {
		padding-top: 0px;
		line-height: 25px;
	}
	.interesting h2 {
		margin-top: 40px;
		line-height: 30px;
		padding: 0px;
		font-size: 25px;
	}
	.big_pictures {
		padding-top: 10px;
	}
	.view {
		margin-top: 0px;
		width: 200px;
		height: 50px;
		margin-bottom: 20px;
	}
	h1 {
		margin-bottom: 40px;
		font-size: 30px;
	}
	.menu_item {
		margin-left: 30px;
	}
	.menu_item:last-child {
		margin-left: 50px;
	}
	.menu_item:first-child {
		margin-left: 30px;
	}
	footer {
		margin-top: 30px;
		margin-left: 0px;
	}
}
@media (max-width: 550px) {
	.menu_item ul {
		display: block;
	}
}
@media (max-width: 600px){
	.appstore {
		width: 25%;
	}
	.interesting h2 {
		font-size: 20px;
	}
	.interesting p {
		font-size: 13px;
		line-height: 14px;
	}
	.a_item p {
		padding-top: 10px;
	}
}
@media (max-width: 500px) {
	.a_item {
		width: 300px;
	}
	.about {
		width: 100%;
		margin: 0px;
	}
	.interesting h2 {
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*
<div class="nav_right">
					<a href="#">Doo for iOS</a>
					<a href="#">Doo for Mac</a>
					<a href="#">Support</a>
					<a href="#">Download</a>
				</div>
*/