body {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
body p, a, li, h2 {
    padding: 0px;
    margin: 0px;
}
.container {
    width: 1080px;
    margin: 0px auto;
}
@media (max-width: 1190px) {
    .container {
    width: 80%;
    margin: 0px auto;
    }
}

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
    line-height: 70px;
    padding: 0px;
    margin: 0px;
}
header li {
    list-style: none;
    padding-right: 50px;
}
header li:first-child {
    padding-right: 120px;
}
header a {
    text-decoration: none;
    color: #768A9D;
    transition: .5s ease;
}
header a:hover {
    color: #4a535c;
}
header button {
    width: 160px;
    height: 40px;
    margin-top: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: #0B243E;
    color: white;
    font-weight: 700;
    transition: .5s ease;
}
header button:hover {
    background-color: #05101c;
}
@media (max-width: 768px) {
    
    header a {
        display: none;
    }
    header li {
        padding: 0px;
    }
    header li:first-child {
        padding: 0px;
    }
    header button {
        background-color: white;
        box-shadow: 0px 5px 30px 0px #123B6B26;
        color: #0B243E;
    }   
}
@media (max-width: 450px) {
    .container {
        width: 90%;
    }
}
/* topic */

.topic {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.topic_item {
    width: 450px;
}
.topic h2 {
    color: #0B243E;
    font-weight: 700;
    font-size: 47px;
    padding-top: 80px;
    line-height: 75px;
}
.topic p {
    font-size: 24px;
    color: #768A9D;
    padding-top: 20px;
}

.download {
    width: 305px;
    height: 60px;
    background-color: #0B243E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}
.download:hover {
    box-shadow: 5px 5px 0px rgb(166, 166, 166);
}
.download img {
    width: 30px;
    height: 30px;
    margin-left: 25px;
}
.download p {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    padding-left: 10px;
    
}
.topic_btn {
    margin-top: 50px;
}   
.topic_img img {
    margin-right: -50px;
}
.topic_img img:first-child {
    left: -450px;
}
@media (max-width: 1199px) {
    .topic h2 {
        font-size: 3.7vw;
        line-height:normal;
        padding-top: 90px;
    }
    .topic_img img {
        width: 500px;
    }
}
@media (max-width: 1000px) {
    .topic_img img {
        width: 400px;
    }
    .topic {
        margin-top: 50px;
    }
    .topic_item h2 {
        padding-top: 50px;
        font-size: 4vw;
    }
    .topic p {
        font-size: 20px;
    }
    .download {
        width: 280px;
    }
    .download img {
        margin-left: 10px;
    }
    
}
@media (max-width: 850px) {
    .topic_img img {
        width: 350px;
    }
}
@media (max-width: 768px) {
    .topic {
        text-align: center;
        display: block;
        margin-top: 20px;
    }
    .topic_item {
        width: 100%;
    }
    .topic h2 {
        font-size: 40px;
        padding-top: 0px;
    }
    .topic_pluses {
        display: flex;
        justify-content: center;
    }
    .topic_pluses p {
        padding-right: 20px;
    }
    .topic_btn {
        margin: 40px auto;
    }
    .topic_img img {
        width: 100%;
        margin: 0px;
    }
}
@media (max-width: 500px) {
    .topic_item h2 {
        font-size: 35px;
    }
}
@media (max-width: 375px) {
    .topic h2 {
        font-size: 32px;
    }
}
@media (max-width: 350px) {
    .topic {
        text-align: left;
    }
    .topic_item h2 {
        font-size: 30px;
    }
    .topic_pluses {
        justify-content: left;
    }
    .topic_pluses p {
        font-size: 16px;
    }
    
    .topic_btn {
        margin: 40px 0px 40px 0px;
    }
}

/* pluses */

.pluses {
    margin-top: 100px;
}
.title {
    font-size: 40px;
    font-weight: 700;
}
.pluses_container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pluses_item {
    width: 300px;
    box-shadow: 0px 5px 30px 0px #123B6B26;
    border-radius: 20px;
    padding: 30px 30px 30px 20px;
    margin: 0px auto 20px;
}
.subtitle {
    color: #0B233B;
    font-size: 20px;
    font-weight: 700;
}
.pluses__subtitle {
    padding-top: 25px;
    padding-bottom: 10px;
}
.text {
    color: #0B233B;
    font-size: 16px;
}
@media (max-width: 925px) {
    .pluses_item {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .pluses_item {
        width: 300px;
    }
    .title {
        text-align: center;
        font-size: 33px;
    }
    .pluses {
        margin-top: 70px;
    }
    .pluses_container {
        margin-top: 30px;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 30px;
    }
}

/* footer */

footer {
    height: 380px;
    padding: 0px 50px;
    margin: 200px auto;
    background: rgb(255,175,81);
    background: linear-gradient(90deg, rgba(255,175,81,1) 0%, rgba(129,187,255,1) 50%, rgba(101,172,255,1) 100%);
    /* background-image: url(pictures/footer_background.png); */
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 40px;
    background-size: 100% 380px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.footer__content {
    padding-top: 50px;
}
.footer__content h2 {
    width: 450px;
    font-size: 50px;
    line-height: 75px;
    color: white;
    padding-bottom: 30px;
}
.footer__img img {  
    margin-top: -104px;
}

@media (max-width: 1075px) {
    footer {
        display: block;
        text-align: center;
        height: 100%;
        background-size: 100%;
        padding-bottom: 0px;
    }
    .footer__content h2 {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .footer_btn {
        margin: 30px auto;
    }
    .footer__img img {
        margin: 0px auto;
    }
    .footer__img {
        height: 100%;  
        padding: 0px; 
    }
}
@media (max-width: 768px) {
    footer {
        margin-top: 50px;
    }
    .footer__content h2 {
        font-size: 6vw;
        line-height: normal;
        padding-bottom: 0px;
    }
}
@media (max-width: 600px) {
    .footer__content h2 {
        font-size: 7vw;
    }
}
@media (max-width: 500px) {
    footer {
        padding: 0px;
    }
    .footer_btn {
        width: 280px;
    }
    .footer__img img {
        width: 280px;
    }
}
@media (max-width: 400px) {
    .footer__content h2 {
        font-size: 8vw;
    }
    .footer__content {
        padding-top: 30px;
    }
}

/* sub */

.sub {
    font-size: 14px;
    color: #768A9D;
}

@media (max-width: 1000px) {
    
}
@media (max-width: 1000px) {
    
}