body {
	margin: 0px;
	background-color: white;
}
.block {
	margin: 50px auto;
	max-width: 950px;
	display: flex;
	justify-content: space-evenly;
}
.image img {
	cursor: pointer;
	height: 550px;
}
.inp {
	border-radius: 10px;
	border: 1px solid #bdc7c9;
	height: 550px;
	width: 350px;
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.name {
	display: flex;
	justify-content: center;
}
.name img {
	margin-top: 30px;	
	width: 220px;
}
@media (min-width:0px) and (max-width: 875px) {
	.image {
		display: none;
	}
}
/* можно потом поменять */
#reg {
	font-family: 'Roboto', sans-serif;
	color: #8e8e8e;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}    
.inp_path {
	text-align: center;
}



.all_inp {
	background-color: #FFF0F5;
	height: 30px;
	width: 250px;
	border-radius: 2px;
	border: 1px solid #e6c4c0;
	margin-bottom: 15px;
}
.end_inp {
	background-color: #FFF0F5;
	height: 30px;
	width: 250px;
	border-radius: 2px;
	border: 1px solid #e6c4c0;
}
.all_inp:focus { 
	outline: 1px solid grey; 
}
.male {
	margin-top: -8px;
} 
form p {
	font-family: 'Roboto', sans-serif;
	color: #8e8e8e;
    font-size: 20px;
   	text-align: left;
   	padding-left: 50px;	
   	
   	
}

.male label {
	font-family: 'Roboto', sans-serif;
	color: #000;
    font-size: 18px;
   	text-align: center;
   	cursor: text;

}
.block_m {
	margin-top: -10px;
	display: flex;
	justify-content: space-around;
}
.second {
	margin-left: -100px;
}
.submit {
	margin: 20px auto;
}
#sub {
	width: 257px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	color: #000;
    font-size: 20px;
   	text-align: center;
   	border-radius: 5px;
   	border: 0px;
   	color: white;
}

.data_inp p {
	width: 300px;
	font-family: 'Roboto', sans-serif;
	color: #000;
    font-size: 14px;
    cursor: text;
    text-align: center;
    color: #8e8e8e;
    margin: -10px auto;
    padding-left: 0px;
}
@media (max-width: 320px) {
	.block_m {
		display: block;
		margin-left: -70px;
	}
	.second {
	margin-left: 0px;
	}
}
@media (max-width: 300px) {
	.inp {
		border-radius: 0px;
		border: 0px solid #bdc7c9;
		height: 550px;
		
		box-shadow: none;
	}
}
@media (max-width: 255px) {
	.all_inp {
		width: 200px;
		margin-bottom: 5px;
	}
	.end_inp {
		margin-bottom: 5px;
		width: 200px;
	}
	#sub {
		width: 200px;
	}
	.inp {
		width: 200px;
	}
	.data_inp {
		width: 200px;
	}
	.data_inp p {
		width: 230px;
		font-family: 'Roboto', sans-serif;
		color: #000;
    	font-size: 14px;
    	cursor: text;
    	text-align: center;
    	color: #8e8e8e;
    	margin: -10px -20px;
    	padding-left: 0px;
	}
	.male {
	margin-top: -15px;
	} 
}

#sub {
  background: linear-gradient(45deg, #ff7a00, #fef9d7);
  transition: .5s;
  background-size: 200%;
}
#sub:hover {
	background-position: right;
}
